.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.data-container {
  display: flex;
  justify-content: space-between;
  width: 49vw;
  border-left: 1px solid #61dafb;
  border-right: 1px solid #61dafb;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
  color: #61dafb;
}

.column {
  text-align: center;
  width: 25vh;
  margin-bottom: 0.25em;
}

.column-res {
  text-align: center;
  width: 50vh;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.paginationItem {
  background: #fff;
  border: 2px solid #888;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  margin-bottom: 2em;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 10px;
  color: black;
  box-shadow: 0.5 0.5 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
  margin-bottom: 2em;
}

.paginationItem.active {
  border: 1px solid black;
  background-color: #999;
  text-size-adjust: large;
  color: black;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.select-boxes {
  display: flex;
}

.basic-multi-select {
  color: black;
  width: 20vh;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 2.5vh;
}

a {
  color: #61dafb;
  margin-top: 1em;
  text-shadow: 2.5px 2.5px 0.1em black;
  text-decoration: none;
}

a:hover {
  color: #0066ff;
}

@media screen and (max-width: 480px) {
  .header-container {
    width: 80vw;
  }

  .data-container {
    width: 80vw;
  }

  .data-box {
    width: 80vw;
    text-align: center;
  }

  .paginationItem {
    background: #fff;
    border: 2px solid #888;
    padding: 10px 15px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0 2.5px;
    cursor: pointer;
    margin-bottom: 2em;
  }

  .prev,
  .next {
    background: #fff;
    border: none;
    border-radius: 0.5em;
    padding: 5px;
    color: black;
    box-shadow: 0.5 0.5 3px rgba(0, 0, 0, 0.4);
    margin: 0 5px;
    cursor: pointer;
    margin-bottom: 2em;
  }
}